body{
    background-color: #e5e5e5;
}

header{
    width: 100%;
    height: 80px;
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    padding: 0 22px 0 22px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    box-shadow: 5px 3px 6px #888888;
}

.logo{
    width: 75px;
    height: 53px;
    margin: auto 0;
}

header > ion-icon{
    width: 42.19px;
    height: 30.94px;
    margin: auto 0;
}


footer{
    width: 100%;
    height: 80px;
    background-color: #ffff;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 0 27px 0 17px;
    box-shadow: 5px 3px 6px #888888;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 

footer > input{
    height: 30px;
    width: 300px;
    border: none;
}

footer > ion-icon{
    width: 26px;
    height: 26px;
}